#start-box{
	text-align: center;
	margin: 20px;
}
#start-game{
	font-size: 20px;
	height: 50px;
	width: 150px;
	color: #54555a;
    font-weight: bold;
}
a:hover{
	text-decoration: none;
}
.header{
	text-align: center;
}