<div id="game-field" align="center">
    <div id="header">
    <h1>Barley-Break</h1>
    <div class="info" ng-app="MobileAngularUiExamples" ng-controller="gameController">
        <span class="label">STEPS:</span>
        <span class="label" id="out"></span> |
        
        <span class="label" >TIME:</span>
        <span class="label"id="timer"></span> |

        <input id="restart" type="submit" ng-click="load()" value="Restart" />
    </div>
    <br />  <br /> 
    </div>               
    <table>
        <tr><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td></tr>
    </table>
</div>
